<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的主页</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/swiper.min.css">

</head>
<body>
<!-- npm dev build  会出现一个dest文件包，直接扔服务器-->
    <!-- Swiper -->
    <div class="swiper-container">

        <div class="swiper-wrapper">

            <div class="swiper-slide cont1">
                <header>
                    <h1>
                        <img src="111.jpg" alt="图片">
                        <div>
                            <p></p>
                            <p></p>
                        </div>
                    </h1>
                    <nav>
                        <ul>
                            <li v-for="v in top"><a :href="v.href">{{v.cont}}</a></li>
                        </ul>
                    </nav>
                </header>

                <ul>
                    <li><img src="1.jpg" alt=""></li>
                    <li>
                        <ol>
                            <li v-for="v in content">{{v.title}}</li>
                        </ol>
                    </li>
                </ul>
            </div>
            <div class="swiper-slide cont2" id=cont2>
                <ul>
                    <li>123</li>
                    <li>标记</li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="swiper-slide cont3">
                <ul>
                    <li>我的项目</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                </ul>
            </div>
            <div class="swiper-slide cont4">skill</div>
            <div class="swiper-slide cont5">call me</div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
    <!-- Swiper JS -->
    <script src="js/swiper.min.js"></script>
    <!-- Initialize Swiper -->
    <!-- vue and change-->
    <script src="js/vue2.2.6.js"></script>
    <script src="js/index.js"></script>
    <!--vue.js-->
    <div class="last1">
        上面什么也没有
    </div>
    <div class="last2">
        别拽了~都被你看光了
    </div>
</body>
</html>